/* 展示 */
@font-face {
  src: url("../font/KuHei.ttf");
  font-family: "KuHei";
}

@font-face {
  src: url("../font/orbitron-bold.otf");
  font-family: "Orbitron";
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  /*初始状态 透明度为0*/
  40% {
    opacity: 0;
  }

  /*过渡状态 透明度为0*/
  100% {
    opacity: 1;
  }

  /*结束状态 透明度为1*/
}

#login .logintop {
  position: fixed;
  text-align: center;
  width: 950px;
  padding-top: 250px;
  left: 50%;
  transform: translate(-50%, 0);
}

#login .logintop .title {
  position: relative;
  font-family: KuHei;
  font-size: 50px;
  color: #ff7979;
}

#login .logintop .titleEng {
  position: absolute;
  font-family: Orbitron;
  color: rgba(255, 255, 255, 0.85);
  font-size: 20px;
  width: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 25px;
}

#login .titleButton {
  position: absolute;
  cursor: pointer;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 130px;
  font-size: 15px;
  font-weight: bold;
  color: #ff7979;
  border: 3px solid #ff7979;
  text-transform: uppercase;
  padding: 10px 20px;
  transition: 0.4s linear;
}

#login .titleButton:hover {
  color: #fff;
  background: #ff7979;
}

/* 登录 */
#login .loginbody {
  transition: all 1.5s;
  transform: translate(0, 100vh);
}

#login .login-form {
  position: relative;
}

#login .back {
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  color: rgba(255, 255, 255, .5);
  cursor: pointer;
  bottom: 210px;
  right: 40px;
}

#login .public {
  font-size: 18px;
  width: 120px;
  font-weight: bold;
  color: #ff7979;
  border: 3px solid #ff7979;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0);
  padding: 10px 20px;
  transition: 0.4s linear;
  margin-top: 25px;
}

#login .public:hover {
  color: #fff;
  background: #ff7979;
  border: 3px solid #ff7979;
}

/* 背景视频 */
#bgvid {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  background-size: cover;
  z-index: -1;
}